@charset "UTF-8";

.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #0f2a3f;
    color: #ffffff;
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
    padding: 2rem;
}

    .error-container h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .error-container p {
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }

.back-home {
    color: #00c3ff;
    font-weight: bold;
    text-decoration: underline;
}
